.leftward { margin-left:0 !important }

table.leftside {
 padding:3px;
 border-spacing:0;
 margin-left:0;
 width:auto
}

fieldset.gate {
 padding:5px;
 max-width:50em;
}
fieldset.gate legend { padding:0 5px; }

fieldset.trim {
 padding:0 5px 5px 5px;
 margin:0;
 display:inline-block
}

textarea.cloaked {
 font-family:auto;
 font-family:inherit;
 font-size:1.2em;
 line-height:1.1;
 width:40em;
 height:2.4em;
}

