table.pagetable { padding:3px; border-spacing:0; margin-left:0; width:auto }
p.pagetext { margin-top:0.5em; margin-bottom:0.5em; margin-left:0 !important}
fieldset { padding:0 5px 5px 5px; margin:0;display:inline-block }

textarea.cloaked {
 font-family:auto;
 font-family:inherit;
 font-size:1.2em;
 line-height:1.1;
 width:40em;
 height:2.4em;
}

